In [1]:
import pandas as pd

In [171]:
credits=pd.read_csv('data/the-movies-dataset/credits.csv')
movies=pd.read_csv('data/the-movies-dataset/movies_metadata.csv')

C:\Users\B-17\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [172]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [173]:
credits.info()
credits['id']=credits['id'].astype(str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [174]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null object
dtypes: object(3)
memory usage: 1.0+ MB

In [175]:
me=pd.merge(credits, movies, left_on='id', right_on='id', how="right").drop_duplicates()
me.shape

(45466, 26)

In [176]:
me.isnull().sum()

cast                         4
crew                         4
id                           0
adult                        0
belongs_to_collection    40970
budget                       0
genres                       0
homepage                 37686
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [179]:
me.to_csv("mergeData.csv")

In [181]:
me[me['cast'].isnull()]

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45538,NaN,NaN,1997-08-20,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",0,104.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45539,NaN,NaN,2012-09-29,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",0,68.0,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45540,NaN,NaN,2014-01-01,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",0,82.0,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45541,NaN,NaN,401840,False,NaN,0,[],NaN,tt3291632,es,...,2017-05-30,0.0,0.0,[],Released,NaN,School's out,False,0.0,0.0

In [184]:
me=me[(me['cast']=="[]") | (me['crew']=="[]")]
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2697
budget                      0
genres                      0
homepage                 2226
imdb_id                     6
original_language           4
original_title              0
overview                  114
popularity                  0
poster_path               241
production_companies        0
production_countries        0
release_date               70
revenue                     0
runtime                    55
spoken_languages            0
status                     33
tagline                  2281
title                       0
video                       0
vote_average                0
vote_count                  0
dtype: int64

In [185]:
drop_columns=['homepage','poster_path','tagline','video']
me.drop(drop_columns, axis=1, inplace=True)

In [186]:
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2697
budget                      0
genres                      0
imdb_id                     6
original_language           4
original_title              0
overview                  114
popularity                  0
production_companies        0
production_countries        0
release_date               70
revenue                     0
runtime                    55
spoken_languages            0
status                     33
title                       0
vote_average                0
vote_count                  0
dtype: int64

In [187]:
me=me[me['imdb_id'].notnull()]

In [188]:
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2691
budget                      0
genres                      0
imdb_id                     0
original_language           4
original_title              0
overview                  114
popularity                  0
production_companies        0
production_countries        0
release_date               67
revenue                     0
runtime                    55
spoken_languages            0
status                     33
title                       0
vote_average                0
vote_count                  0
dtype: int64

In [189]:
me['overview'].fillna("", inplace=True)

In [190]:
me.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2758 entries, 137 to 45537
Data columns (total 22 columns):
cast                     2758 non-null object
crew                     2758 non-null object
id                       2758 non-null object
adult                    2758 non-null object
belongs_to_collection    67 non-null object
budget                   2758 non-null object
genres                   2758 non-null object
imdb_id                  2758 non-null object
original_language        2754 non-null object
original_title           2758 non-null object
overview                 2758 non-null object
popularity               2758 non-null object
production_companies     2758 non-null object
production_countries     2758 non-null object
release_date             2691 non-null object
revenue                  2758 non-null float64
runtime                  2703 non-null float64
spoken_languages         2758 non-null object
status                   2725 non-null object
title                    2758 non-null object
vote_average             2758 non-null float64
vote_count               2758 non-null float64
dtypes: float64(4), object(18)
memory usage: 495.6+ KB

# drop if me['popularity'] is null

In [191]:
me=me[me['popularity'].notnull()]

In [192]:
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2691
budget                      0
genres                      0
imdb_id                     0
original_language           4
original_title              0
overview                    0
popularity                  0
production_companies        0
production_countries        0
release_date               67
revenue                     0
runtime                    55
spoken_languages            0
status                     33
title                       0
vote_average                0
vote_count                  0
dtype: int64

# fill "" where me['relase_data'] is null

In [193]:
me['release_date']=me['release_date'].fillna("")

In [194]:
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2691
budget                      0
genres                      0
imdb_id                     0
original_language           4
original_title              0
overview                    0
popularity                  0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                    55
spoken_languages            0
status                     33
title                       0
vote_average                0
vote_count                  0
dtype: int64

In [195]:
drop_rows=['original_language','revenue','spoken_languages','title','vote_average','vote_count']
for d in drop_rows:
    me=me[me[d].notnull()]
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2687
budget                      0
genres                      0
imdb_id                     0
original_language           0
original_title              0
overview                    0
popularity                  0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                    55
spoken_languages            0
status                     33
title                       0
vote_average                0
vote_count                  0
dtype: int64

In [196]:
me['status'].value_counts()

Released           2690
Rumored              24
Post Production       4
In Production         1
Planned               1
Canceled              1
Name: status, dtype: int64

In [197]:
me=me[me['status']=='Released']
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2626
budget                      0
genres                      0
imdb_id                     0
original_language           0
original_title              0
overview                    0
popularity                  0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                    54
spoken_languages            0
status                      0
title                       0
vote_average                0
vote_count                  0
dtype: int64

In [198]:
me['adult'].value_counts()

False    2689
True        1
Name: adult, dtype: int64

In [199]:
me.isnull().sum()

cast                        0
crew                        0
id                          0
adult                       0
belongs_to_collection    2626
budget                      0
genres                      0
imdb_id                     0
original_language           0
original_title              0
overview                    0
popularity                  0
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                    54
spoken_languages            0
status                      0
title                       0
vote_average                0
vote_count                  0
dtype: int64